[Desktop Entry]
Name=Ovi
Exec=webapp-container --inspector ./www/index.html
Icon=ovi.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Image=splash.png
X-Ubuntu-Splash-Color=#FEDB00
X-Ubuntu-Supported-Orientations=portrait


